.options
    padding-left 0
    li 
        list-style-type none
        display flex
        align-items center
        margin-top 1em
    img 
        width 44px
        &.star 
            width 20px
.about img.test
    min-width: 100%