.action-block
    width 80%
    border 1px solid $border-light
    td
        padding 30px 30px 0 30px
        border-bottom .5px solid $border-light

.action-block__select
    color $main-color
    border 2px solid $main-color
    display inline-block
    box-sizing border-box
    border-radius 3px
    padding .8em 1.5em
    margin 0
    font-weight: 500
    line-height: 17px
    cursor pointer
    transition: .3s all linear
    &:hover
        background-color $main-color
        color $default-color