.prefooter
    margin-top 8em
.prefooter_lang
    font-size 1em
    font-weight normal
footer
    @media screen and (max-width: $tableWidth)
        border-top .5px solid  $neutral-regular
        background-color transparent
    background-color $neutral-secondary
    .support
        p
            margin 0
            color $neutral-regular
            font-size 14px