.gallery
    max-width: 61%
    margin auto
// .gallery-block
//     display flex
//     flex-flow row wrap
//     justify-content space-between
//     align-items center
.gallery__show-more
    color $primary-color
    margin-bottom 0
    text-align center
.gallery-block__title
    @media screen and (max-width: $tableWidth)
        font-size 28px