.header
    height: 100px
span.phone
    color $neutral-regular
    font-size 1em
    font-weight 400
.callback
    font-size: 14px
    background-color: $danger-color
    border-radius: 3px
    padding: 15px
    color: $default-color
    cursor pointer
