section.map
    position relative
.banner-info
    width 420px
    border 1px solid $border-light
    background-color $default-color
    position absolute
    left 20%
    top 4%
.banner-info__item
    margin 2em 0 1em 1em
.banner-info__item__title
    font-weight 500
    font-size: $mainFontSize
.banner-info__item__extra
    font-size 16px
    font-weight normal
.banner-info__item__show-more
    font-size 14px
    color $primary-color
    cursor pointer
.banner-info__avatar
    width 67px
    height 67px
.extra-text
    line-height 2em
.banner-info__item_extra-text_about
    line-height 1.4em