section.about.container.mt-5
    .row
        .col-12.d-md-none.text-center.order-1.mb-4
            h1 Фотосессия 
                br
                | в вертолете
        .col-12.col-md-6.order-3.order-md-2.mt-4.mt-md-0
            h4.d-none.d-md-inline-block Фотосессия 
                br
                | в вертолете
            p Полет на вертолете это прекрасная возможность получить новые ощущения! А наш замечательный фотограф запечатлит лучшие моменты
            ul.options
                li
                    img.pr-3(src="/assets/images/watch.svg")
                    | 3 часа съемки
                li
                    img.pr-3(src="/assets/images/photo.svg")
                    | Более 50 фотографий
                li
                    img.pr-3(src="/assets/images/map-pin-marked.svg")
                    | Москва
                li
                    img.pr-3(src="/assets/images/speech-bubble.svg")
                    | Готовы ответить на любые вопросы
                hr
                li
                    p
                        img.pr-3(src="/assets/images/cup.svg")
                        | Более 50 отзывов с оценкой
                    - for (let x = 0; x < 5; x++)
                        img.star.ml-2(src="/assets/images/star.svg")
                hr
        .col-12.col-md-6.d-flex.align-items-center.order-2.order-md-3
            img.test(src="/assets/images/1.png")
