section.prefooter.container
    .row
        .col-auto
            h3 HELYFLY
        .col.text-right
            p
                img.mr-2.mr-md-4(src="/assets/images/vk.svg")
                img.mr-2.mr-md-4(src="/assets/images/facebook.svg")
                img.mr-2.mr-md-4(src="/assets/images/instragram.svg")
                span.prefooter_lang.d-none.d-md-inline RU
                    img.ml-2(src="/assets/images/arrow.svg")
footer.row.text-center.mt-3.pt-3.pt-md-0
    .col.text-left.text-xl-center
        img.ml-2.mt-md-2(src="/assets/images/MC.svg")
        img.ml-2.mt-md-2(src="/assets/images/VISA.svg")
        img.ml-2.mt-md-2.d-md-none(src="/assets/images/PP.svg")
    .col-auto.d-flex.d-md-none.align-items-center.justify-content-end
        span.prefooter_lang RU
            img.ml-2(src="/assets/images/arrow.svg")
    .w-100.d-md-none
    .col.support.text-center.text-md-left.mt-3.mt-md-0
        p.mt-2.d-inline-block.text-center.mb-3
            |Тех. поддержка: 8(800)700-00-00
            br
            | © 2018 HELYFLY. All Rights Reserved.