section.gallery.container.mt-4
    .row
        .col-12.text-center.text-md-left
            p.gallery-block__title Фотографии пакета
    .row.mt-3.d-none.d-md-flex
        .col
            img.img-fluid(src="/assets/images/2.png")
        .col
            img.img-fluid(src="/assets/images/3.png")
        .col
            img.img-fluid(src="/assets/images/1.png")
        .col
            img.img-fluid(src="/assets/images/4.png")
    .row.mt-3.d-none.d-md-flex
        .col
            img.img-fluid(src="/assets/images/1.png")
        .col
            img.img-fluid(src="/assets/images/4.png")
        .col
            img.img-fluid(src="/assets/images/3.png")
        .col
            img.img-fluid(src="/assets/images/1.png")
    .row.mt-4.d-none.d-md-flex
        .col
            p.gallery__show-more
                img.mr-2(src="/assets/images/arrow.svg")
                | Показать все фото
                img.ml-2(src="/assets/images/arrow.svg")
    hr

