header.row.header
    .col.d-flex.justify-content-center.align-items-center
        h4.d-inline-block.mb-0 HELYFLY
        p.d-none.d-md-inline-block.ml-2.ml-md-5.mb-0
            span.phone Телефон:
            | 8(800)-123-12-12
    .col.d-flex.d-md-none.justify-content-center.align-items-center
        p.mb-0.text-primary Москва
    .col.d-flex.justify-content-center.align-items-center
        span.callback.d-none.d-md-inline-block Обратный звонок
        img.d-md-none(src="/assets/images/user.svg")