section.head-banner
    .head-banner-block
        h1.head-banner__text
            | Эксклюзивная 
            span фотосессия 
            | при полете 
            br
            | на вертолете
        .popover__content
            img(src="./assets/images/percent.png")
            p.popover__message.mb-0 Стоимость:
                br
                span 1500&#8381;
        p.reserve Забронировать место
                




