section.map.row
    .banner-info.d-none.d-md-block
        .banner-info__item
            img.float-left.mr-4(src="/assets/images/first.svg")
            p.extra-text
                span.banner-info__item__title Где встречаемся?
                br
                | Москва
        .banner-info__item
            img.float-left.mr-4(src="/assets/images/second.svg")
            p.extra-text
                span.banner-info__item__title Время съемки
                br
                | 3 часа
        .banner-info__item
            img.float-left.mr-4(src="/assets/images/third.svg")
            p.extra-text
                | Мест осталось:
                br
                | 2 места
        .banner-info__item
            img.banner-info__avatar.float-left.mr-4(src="/assets/images/avatar.png")
            p.banner-info__item_extra-text_about
                span.banner-info__item__title Мария Иванова
                br
                span.banner-info__item__extra Фотограф
                br
                span.banner-info__item__show-more Показать больше информации
    iframe(
        src='https://yandex.ru/map-widget/v1/?um=constructor%3Abfb9c865a469f25391ad1b4e8ea36e9e9b8131027db7451f5acebf00bb792296&source=constructor'
        width='100%'
        height='500'
        frameborder='0'
    )
