section.org.container.mt-3
    .row
        .col-12.col-md-6.org__description.order-2.order-md-1.mt-4.mt-md-0
            h5 Об организаторе
            p
                | Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов туристической отрасли,
                | которые хорошо разбираются в маркетинге, операциях и услугах обслуживания клиентов, специализирующихся на совместном
                | использовании и частных турах. 
            p
                | Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует
                | бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся…
            p.org__description__show-more
                | Читать еще
                img.ml-2(src="/assets/images/arrow.svg")
            h5 Что я представляю
            p
                | Встречу вас на машине после длительного перелёта. Качественный подбор места и локации для вашей съемки. При необходимости
                | всегда возможно прерваться на обед/ужин. Более 50 фотографий на выходе с обработкой и замечательные впечатления о Дубае !
            p.org__description__show-more
                | Читать еще
                img.ml-2(src="/assets/images/arrow.svg")
        .col-12.col-md-6.org__info.text-center.order-1.order-md-2
            img(src="/assets/images/avatar.png", alt="Моя последняя фотка")
            img.org__info__heart(src="/assets/images/heart.svg", alt="Моя последняя фотка")
            h5.mt-4 Марина Ивановна
            p Фотограф
            p.org__info__show-more Показать больше
                br
                | информации о фотографе
    hr