// Font
$mainFont = "Montserrat", Helvetica, Arial, sans-serif
// Size
$mainFontColor = #101010
$mainFontSize = 18px
$mainFontWeight = 400
$mainLineHeight = 1.4
$desktopWidth = 1200px
$smDesktopWidth = 992px
$tableWidth = 768px
$phoneWidth = 576px
// $smPhoneWidth = 320px

// Main color
$default-color = #FFF
$primary-color = #5286EC
$success-color = #26de81
$danger-color = #C94042
$warning-color = #fed330
$light-color = #999999
$purple-color = #8854d0
$main-color = #FC9B09
// Neutral Color
$neutral-primary = #303133
$neutral-regular = #B3B3B3
$neutral-secondary = #FAF9F8
$neutral-placeholder = #c0c4cc
// Border Color
$border-base = #dcdfe6
$border-light = #C7C7C7
$border-lighter = #ebeef5
$border-lightex = #f2f6fc