doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Helyfly

body
    .container-fluid
        include ./includes/header.pug
        include ./includes/helimain.pug
        include ./includes/about.pug
        include ./includes/gallery.pug
        include ./includes/org.pug
        include ./includes/action.pug
        include ./includes/map.pug
        include ./includes/comments.pug
        include ./includes/footer.pug